<a href="https://colab.research.google.com/github/jinyejun04/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do List를 작성하시오.
  - 2023년 10 월 19일 진예준
  - (1) 09:20 도서관에서 책 빌리기
  - (2) 11:00 컴퓨팅적사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:00 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저년식사 및 집안일 돕기
  - (7) 19:00 LOL 하기

In [29]:
print("1. To-Do List를 작성하시오. ")
print(" ")
print("      o (1) 2023년 10월 19일 진예준")
print("      o (2) 09:20 도서관에서 책 빌리기")
print("      o (3) 11:00 컴퓨팅적사고와 기초코딩 수업")
print("      o (4) 14:00 교양수업")
print("      o (5) 16:00 파이썬 공부 및 레포트 작성")
print("      o (6) 17:40 저녁식사 및 집안일 돕기")
print("      o (7) 19:00 LOL 하기")

1. To-Do List를 작성하시오.

      o (1) 2023년 10월 19일 진예준
      o (2) 09:20 도서관에서 책 빌리기
      o (3) 11:00 컴퓨팅적사고와 기초코딩 수업
      o (4) 14:00 교양수업
      o (5) 16:00 파이썬 공부 및 레포트 작성
      o (6) 17:40 저녁식사 및 집안일 돕기
      o (7) 19:00 LOL 하기

2. 인사말 출력하기
 - 식사하셨습니까? 행님

In [34]:
print("2. 인사말 출력하기")
print(" ")
print("      o 식사하셨습니까? 행님")

2. 인사말 출력하기

      o 식사하셨습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
 - 박보검: 90점
 - 션: 92점
 - 도룡용: 80점
 - 차은우: 99점
 - 국어 점수 순위
 - 1등 차은우
 - 2등 션
 - 3등 박보검
 - 4등 도룡용

In [76]:
print("3. 학생 4명의 국어점수를 입력 받아서 아래와 같이 출력하시오.")
print(" ")
n1 = input("박보검: ")
n2 = input("션: ")
n3 = input("도룡용: ")
n4 = input("차은우: ")
print("국어 점수 순위")
print("1등 차은우" ,n4,"점")
print("2등 션 " ,n2,"점")
print("3등 박보검" ,n1,"점")
print("1등 도룡용" ,n3,"점")

3. 학생 4명의 국어점수를 입력 받아서 아래와 같이 출력하시오.

박보검: 90
션: 92
도룡용: 80
차은우: 99
국어 점수 순위
1등 차은우 99 점
2등 션  92 점
3등 박보검 90 점
1등 도룡용 80 점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [35]:
n1 = int(input("print N1의 값을 입력하시오"))
n2 = int(input("print N2의 값을 입력하시오"))
total = n1 + n2
average = total/2
print(average)

print N1의 값을 입력하시오10
print N2의 값을 입력하시오20
15.0